* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  overflow: hidden;
}
.gameover {
  position: absolute;
  display: flex;
  font-size: 8rem;
  width: 100vw;
  justify-content: center;
  color: rgb(99, 175, 13);
  animation: gameOver 2s linear infinite;
}
.endscore {
  position: absolute;
  display: flex;
  justify-content: center;
  color: blueviolet;
  font-weight: bold;
  top: 27%;
  width: 100vw;
  font-size: 4.3rem;
  animation: endScore 2s linear infinite;
}

@keyframes endScore {
  0% {
    color: blueviolet;
  }
  25% {
    color: rgb(143, 17, 80);
  }
  50% {
    color: rgb(233, 139, 32);
  }
  75% {
    color: rgb(124, 30, 14);
  }
  100% {
    color: rgb(202, 233, 226, 43);
  }
}
.playagain {
  position: absolute;
  display: flex;
  justify-content: center;
  color: #000;
  font-weight: bold;
  top: 43%;
  width: 100vw;
  font-size: 3rem;
}
@keyframes gameOver {
  0% {
    top: 2rem;
    font-size: 8rem;
    transform: rotate(15deg);
  }
  25% {
    top: 4rem;
    font-size: 10rem;
    transform: rotate(-15deg);
  }
  50% {
    top: 2rem;
    font-size: 12rem;
    transform: rotate(15deg);
  }
  75% {
    top: 0rem;
    font-size: 10rem;
    transform: rotate(-15deg);
  }
  100% {
    top: 2rem;
    font-size: 8rem;
    transform: rotate(15deg);
  }
}
.score {
  position: absolute;
  top: 2rem;
  font-size: 3.5rem;
  right: 4rem;
}
.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: aqua;
}
.place {
  position: absolute;
  bottom: 0;
  width: 153rem;
  height: 115rem;
  background: url(bg.png) no-repeat;
  background-size: cover;
}
.dino {
  position: absolute;
  bottom: 0;
  background: url(dino.png) no-repeat;
  width: 24rem;
  height: 12rem;
  left: 13rem;
  background-size: cover;
}
.jumpDino {
  animation: moveDino linear 0.6s;
}
.dinokilled {
  animation: killeddino linear 1.5s;
}
@keyframes killeddino {
  0% {
    bottom: 0%;
    transform: rotate(180deg);
  }
  50% {
    bottom: 40rem;
    transform: rotate(180deg);
  }
  100% {
    bottom: -20%;
    transform: rotate(180deg);
  }
}
@keyframes moveDino {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 25rem;
  }
  100% {
    bottom: 0;
  }
}
.evil {
  position: absolute;
  bottom: 0;
  background: url(dragon.png) no-repeat;
  width: 18rem;
  height: 12rem;
  right: 13rem;
  background-size: cover;
}
.evilMove {
  animation: evilRun 2s linear infinite;
}
@keyframes evilRun {
  from {
    left: 100vw;
  }
  to {
    left: -10vw;
  }
}
